{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Css/Login1.css'%}">
    <script src="{% static 'Js/ValidacionesRegistro.js'%}"></script>
    <title>Registro</title>
</head>
<body>

  <div class="wrapper">
    <div class="quote-wrapper">
    </div> 
  
    <div class="form-wrapper">
      <h1 class="form-title">Crear cuenta</h1>
  
    <form id="registrationForm" action="" onsubmit="return validarFormulario()" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="username">Apodo</label>
          <input type="text" name="username"  id="username" class="w-100" autofocus placeholder="Ingresa un apodo" title="minimo 4 caracteres">
          <span class="check-icon"></span>
          <div id="usernameError" class="error"></div><br>
        </div>
  
        <div class="form-group">
          <label for="email">Correo</label>
          <input type="text" name="email" id="email" class="w-100" placeholder="Example@gmail.com">
          <span class="check-icon"></span>
          <div id="emailError" class="error"></div><br>
        </div>
  
        <div class="form-group mb-1">
          <label for="password">Contraseña</label>
          <input type="password" name="password" id="password" class="w-100" title="Debe contener al menos un número y una letra mayúscula y minúscula, y al menos 8 o más caracteres" placeholder="Ingresa una contraseña">
          <span class="check-icon"></span>
          <span id="passwordError" class="error"></span><br><br>
        </div><br><br>
  
        <div class="form-group mb-0">
          <input type="submit" value="Guardar" class="w-100" >
        </div>

    </form><br>

    <center>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h3 style="color: rgb(255, 0, 0)" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{message}}</h3>
            {% endfor %}
        </ul>
        {% endif %}
    </center>

      <small>Ya tengo una cuenta <a href="/Ingresar/usuarios">Ingresar</a></small>
      
    </div> 
  </div> 

  <style>
    .error {
      color: red;
      font-size: 12px;
    }
  </style>

  <script>
    function validarFormulario() {
      // Obtener los valores de los campos
      var username = document.getElementById("username").value;
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
      
      // Obtener las etiquetas de error
      var usernameError = document.getElementById("usernameError");
      var emailError = document.getElementById("emailError");
      var passwordError = document.getElementById("passwordError");
      
      // Expresión regular para verificar que no haya espacios en blanco
      var espaciosEnBlanco = /\s/;
      
      // Limpiar los mensajes de error anteriores
      usernameError.innerHTML = "";
      emailError.innerHTML = "";
      passwordError.innerHTML = "";
      
      // Verificar campos vacíos
      if (username === "") {
        usernameError.innerHTML = "Por favor, ingrese un apodo.";
        return false;
      }
      
      if (email === "") {
        emailError.innerHTML = "Por favor, ingrese un correo electrónico.";
        return false;
      }
      
      if (password === "") {
        passwordError.innerHTML = "Por favor, ingrese una contraseña.";
        return false;
      }
      
      // Verificar espacios en blanco
      if (espaciosEnBlanco.test(username)) {
        usernameError.innerHTML = "El apodo no puede contener espacios en blanco.";
        return false;
      }
      
      if (espaciosEnBlanco.test(email)) {
        emailError.innerHTML = "El correo electrónico no puede contener espacios en blanco.";
        return false;
      }
      
      if (espaciosEnBlanco.test(password)) {
        passwordError.innerHTML = "La contraseña no puede contener espacios en blanco.";
        return false;
      }

                  // Validar longitud mínima y máxima de la contraseña
      if (password.length < 8 || password.length > 16) {
        passwordError.innerHTML = "La contraseña debe tener entre 8 y 16 caracteres.";
        return false;
      }

      
      // Validar longitud mínima y máxima del apodo
      if (username.length < 4 || username.length > 16) {
        usernameError.innerHTML = "El apodo debe tener entre 4 y 16 caracteres.";
        return false;
      }

      
      // Validar el formato del correo electrónico utilizando una expresión regular
      var formatoEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!formatoEmail.test(email)) {
        emailError.innerHTML = "Por favor, ingrese una dirección de correo electrónico válida.";
        return false;
      }


    }


    const input = document.getElementById('username');
  input.addEventListener('input', function() {
  if (this.value.length > 16) {
      this.value = this.value.slice(0, 16);
    }
  });

  const emailInput = document.getElementById('email');
      emailInput.addEventListener('input', function() {
        if (this.value.length > 120) {
          this.value = this.value.slice(0, 120);
        }
      });

  const passwordInput = document.getElementById('password');
  passwordInput.addEventListener('input', function() {
    if (this.value.length > 16) {
      this.value = this.value.slice(0, 16);
    }
  });

  </script>



</body>
</html>