body{
  background-image: url("../Img/fondo.jpg");
  background-size: cover; 
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .purchase-success {
    text-align: center;
    background-color: #F7F7F7;
    padding: 40px;
    border-radius: 5px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  
  .purchase-success h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .purchase-success p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .purchase-success img {
    max-width: 300px;
    width: 100%;
  }