html,body{
    background-image: url("../Img/fondo.jpg");
    background-size: cover;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.form{
    margin-left: 5%;
}

.Rectangulo{
    margin-top: 5.5%; 
    width: 50%;
    height: 500px;
    background: #F7F7F7;
    padding: 1%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Container{
    display: flex;
    justify-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  
.error-message {
    color: red;
    font-size: 11px;
}
 
  
