body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  #formulario {
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
    font-family: 'Comic Sans MS', cursive;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-family: 'Comic Sans MS', cursive;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f7f7f7;
    font-family: 'Comic Sans MS', cursive;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
    font-family: 'Comic Sans MS', cursive;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6a00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive;
  }
  
  input[type="submit"]:hover {
    background-color: #ff6a00;
  }