        
body{background:rgb(211, 211, 211)}

.sttngs p{color:#000;}

.sttngs{max-width:1064px;margin: 50px auto;background:#fff;padding:15px;height:auto;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;border-radius:3px;padding-top:30px;
 -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);}
.sttngs h2{letter-spacing:2px;margin:20px;color:#000;}


.sttngs .tabordion {
  color: #FFF;
  display: block;
  mardgin: auto;
  position: relative;height:670px;
  width: 100%;backgrdound:red;
}

.sttngs.tabordion input[name="sections"] {display:none;}

.sttngs.tabordion section {display: block;}

.tabordion section label {
  border-right:1px solid lightgrey;
  display: block;
  font-size: 11px;font-weight:800;
 text-transform:uppercase;
  padding: 14px 20px;
  color:#999;letter-spacing:1px;
  position: relative;
  width: 130px;
  z-index:100;
}


.trr{ cursor: pointer;}


.ver{color:rgb(19, 125, 19);}
.tabordion section article {
  display: none;backgdround:red;
  padding-left: 200px;
  max-width: 100%;
  position: absolute;  
  top: -50px;opascity:.7;
}


/*
.tabordion section article:after {
  
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: relative;
  top: 0;
  width: 220px;
  z-index:1;
}
*/
.tabordion input[name="sections"]:checked + label { 
  border-right:3px  solid rgb(233, 167, 22);
  color: rgb(205, 89, 50);font-weifght:bold;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}

 


.social{
 display:inline-block;width:32.7%;
}

.r1, .r2{mfargin-left:4%;}





:root {
  back3ground-color: #FCFEFD;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
}



input, select, textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.frm .label{
  display: block;width:100%;
  margin-bottom: 0.25em;
  font-size: 10px;text-align:left;
  font-weight: 900;padding:0;color:#111;
  letter-spacing: 1px;border:none;
}

.input, .select, .textarea {
  padding: 10px;
  border:1px solid lightgray;
  background-color: white;color:#000000;letter-spacing:.7px;
}
.input:focus, .textarea:focus {
  border-color: gray;
}


.textarea {
  min-height: 100px;
  resize: vertical;
}



.tr{
  
  padding-top:50px;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  max-wridth: 600px;
}

.tr .label{
 
  margin-bottom: 0.25em;width:100%;
  font-size: 10px;text-align:left;
  font-yweight: 900;padding:0;color:#111;
  letter-sfpacing: 2px;border:none;
}



.p{padding:30px;}




.input, .checkbox-label:before, .radio-label:before, .checkbox-label:after, .radio-label:after, .select, .textarea, .checkbox-label, .radio-label {
  margin-bottom: 1em;
}

.r{height:250px;width:250px;background:red;border-radius:50%;float:left;margin-right:30px;}






.icon{
 width:75px;
  height:75px; 
  
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  
}


.camera4{
  display:block;
  width:70%;
  height:50%;
  position:absolute;
  top:30%;
  left:15%;
  background-color:#000;
  border-radius:5px;
}
.camera4:after{
  content:"";
  display:block;
  width:15px;
  height:15px;
  border:7px solid #fff;
  position:absolute;
  top:15%;
  left:25%;
  background-color:#000;
  border-radius:15px;
}
.camera4:before{
  content:"";
  display:block;
  width:50%;
  height:10px;
  position:absolute;
  top:-16%;
  left:25%;
  background-color:#000;
  border-radius:10px;
}



#profile-upload{
    background-image:url('');
    background-size:cover;
    background-position: center;
    height: 230px; width: 230px;
    border: 1px solid #bbb;
    position:relative;top:20px;
  border-radius:50%;
  overflow:hidden;
  
  
  float:left;margin-right:30px;margin-bottom:0px;
  
}
#profile-upload:hover input.upload{
  display:block;
}
#profile-upload:hover {
  border: 1px solid gray
}
#profile-upload:hover .hvr-profile-img{
  opacity:1;
 }
.hvr-profile-img{opacity:.3;}

#profile-upload input.upload {
    z-index:1;
    left: 0;
    margin: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
 
    width:100%;
    display:none;
}

#count{font-size:12px;display:inline-block;text-alrign:center;color:grey;text-transform:none;font-weight:600;letter-spacing:0;}


.e{max-width:880px;}




.select {
  position: relative;
  z-index: 1;
  padding-right: 40px;
}
.select::-ms-expand {
  display: none;
}

.select-wrap {
  position: relative;
}
.select-wrap:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 0 15px;
  width: 10px;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2211.3%22%20viewBox%3D%220%200%2013%2011.3%22%20enable-background%3D%22new%200%200%2013%2011.3%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23424242%22%20points%3D%226.5%2011.3%203.3%205.6%200%200%206.5%200%2013%200%209.8%205.6%20%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  content: "";
  pointer-events: none;
}

.frm{padding:3%;}


.tr span{display:inline-block;color:grey;font-size:11px;letter-spacing:0;font-weight:700;text-transform:none;}
#texte{display:inline-block;color:grey;text-transfgorm:none;letter-spacing:0;}

.button1 {
  text-transform: uppercase;font-weight:800;letter-spacing:1px;
  outline: 0;
  background: limegreen;
  width: 150px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius:3px;margin-top:30px;
  position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
}

.button2 {
  text-transform: uppercase;font-weight:800;letter-spacing:1px;
  outline: 0;
  background: rgb(246, 33, 5);
  width: 150px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius:3px;margin-top:30px;
  position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
}
  
  
.button3 {
  text-transform: uppercase;font-weight:800;letter-spacing:1px;
  outline: 0;
  background: rgb(246, 146, 5);
  width: 130px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius:3px;margin-top:30px;
  margin-left: 8%;
    left: 50%;
    transform: translate(-50%, 0px);
}

.button1:hover, .sttngs  button:active, .sttngs button:focus {background: #249710;}
.button2:hover, .sttngs  button:active, .sttngs button:focus {background: #f34b29;}
.button3:hover, .sttngs  button:active, .sttngs button:focus {background: #f8ba63;}


.SS{
  
  margin-left: 50%;
    left: 50%;
}





@media (max-width: 600px){
  #profile-upload{float:none;margin:auto;
  
  
  }

  .sttngs .tabordion{height:1020px;}
    
    
  .sttngs  button{margin-top:-40px;} 
  .social{display:block;width:100%;}
  
  .sttngs {padding:0;padding-top:19px;}
  .sttngs  h2{text-align:center;}
  .tabordion section article {border-top:1px solid #eee;}
   
  
}













@media (min-width: 768px){
  .tabordion{height:600px;}
}








@media (max-width: 768px) {
  .social{margin:0;}
 
  
  button{margin-top:-40px;}
  
  .tabordion section label{float:left;disptlay:inline-block;width:17%;margin:auto;padding:12px;font-size:9px;
  border-right:none;text-align:center;
  
  }
  .wwq{padding:10px;}
  .b{height:170px;width:170px;}
  
  .tabordion input[name="sections"]:checked + label { 
  border-bottom:3px  solid rgb(249, 143, 43);
  border-right:none;
}

  
  
  
  .tabordion section article {
    left: 0;top:38px;
   border-top:1px solid #eee;
    padding:0;
  } 
}