
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #F5F5F5;
  color: #333333;
  padding: 20px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  padding: 30px;
  box-sizing: border-box;
}
h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
.highlight {
  font-weight: 700;
  color: #e0680d96; /* Color naranja */
}
.pet-photo {
  text-align: center;
  margin-bottom: 20px;
}
.pet-photo img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .container {
    padding: 15px;
  }
  h1 {
    font-size: 24px;
  }
  li {
    font-size: 16px;
  }
}