{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'Css/EstiloCompraRealizada.css'%}" rel="stylesheet">
    <link href="{% static 'Css/bootstrap.min.css'%}" rel="stylesheet">
    <title>Compra Realizada</title>
</head>
<body>

  <div class="container">
    <div class="purchase-success">
      <h1>¡Compra Exitosa!</h1>
      <p>¡Gracias por tu compra!</p>
      <img src="{% static 'Img/03.png'%}" alt="Logo de la tienda"><br><br>
      <a href="/Principal/inicio" class="btn btn-outline-secondary">Principal</a>
      <a href="/generar/factura" class="btn btn-outline-success">Descarga tu comprobante</a>
    </div>
  </div>
  

    
</body>
</html>