{% load static %}
{% include "Inc/header.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'Css/EstilosPlaca.css'%}" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div>

        <div class="Container">

            <div class="Rectangulo">
                <form action="" method="post" id="formulario">
                    {% csrf_token %}

                    <div class="Cartas">

                        <div class="row">
                            <div class="col-sm-6 mb-4 mb-sm-0">

                                <div class="card" style="width: 20rem;">
                                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"
                                        data-bs-interval="2500">

                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="{% static 'Img/placa circular.jpg'%}" class="d-block w-100"
                                                    alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="{% static 'Img/placa hueso.jpg'%}" class="d-block w-100"
                                                    alt="...">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Estilos disponibles</h5>
                                        <p></p>
                                    </div>
                                    <div class="card-body">
                                        <select name="Estilo_Placa_C" id="select-imagen" class="form-select">
                                            <option value="">Elije el estilo de tu placa</option>
                                            <option value="Circular">Placa en forma circular</option>
                                            <option value="Hueso">Placa en forma de hueso</option>
                                        </select>
                                    </div>     
                                </div>
                                <div id="Error1" class="error-message"></div>
                            </div>

                            <div class="col-sm-6">

                                <div class="card" style="width: 20rem;">
                                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"
                                        data-bs-interval="2500">

                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="{% static 'Img/placa color plateado.jpg'%}"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="{% static 'Img/placa color dorado.jpg'%}"
                                                    class="d-block w-100" alt="...">
                                            </div>

                                            <div class="carousel-item">
                                                <img src="{% static 'Img/placa color negro.jpg'%}" class="d-block w-100"
                                                    alt="...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Colores disponibles</h5>
                                        <p></p>
                                    </div>
                                    <div class="card-body">
                                        <select name="Color_Placa_C" id="select-Color" class="form-select">
                                            <option value="">Elije el color de tu placa</option>
                                            <option value="Plateado">Placa en color plateado</option>
                                            <option value="Dorado">Placa en color dorado</option>
                                            <option value="Negro">Placa en color negro</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="Error2" class="error-message"></div>
                            </div>

                        </div>

                    </div>

                    <input type="hidden" name="Dueno_Id" value="{{ request.user.id }}">

                    <br>

                    <div class="btn">
                        <a href="/MisMascotas/Botones" class="btn btn-secondary">Volver</a>
                        <button type="submit" class="Btn1 btn btn-success">Siguiente</button>
                    </div>

                </form>
            </div>

        </div>

    </div>

    <footer>
        <div class="container px-5">
            <p class="m-0 text-center text-white small">Copyright &copy; Little Pet World 2023</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    
    <script src="{% static 'Js/validacionesEstilos.js'%}"></script>
</body>

</html>