{% include "Inc/header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'Css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'Css/DiseñoListado.css'%}" rel="stylesheet">
    <script src="{% static 'Js/sweetalert.min.js'%}"></script>
    <title>Document</title>
    <script>
        function borrar(Id_Mascota) {
            swal({
                title: "¿Estas Seguro que Quieres Borrar Tu Mascota?",
                text: "!Despues de Borrar tu mascota no la Puedes Recuperar¡",
                icon: "warning",
                buttons: ["Cancelar", true],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        location.href = "/MisMascotas/Eliminar/" + Id_Mascota;
                        swal("Tu Mascota a Sido Borrada de la Base de Datos", {
                            icon: "success",
                        });

                    } else {
                        swal("Tu Mascota no sera Borrada");
                    }
                });
        }
    </script>
</head>
<body>
    
    <h1>Tus Mascotas Registradas</h1>
    <a href="/MisMascotas/Botones" role="button"  class="btn btn-secondary a" >Volver</a>
    <table class="table table-striped table" class="table-light">
        <thead>
            <tr class="table-light">
                <th class="table-light">Nombre de la Mascota</th>
                <th class="table-light">Raza de la Mascota</th>
                <th class="table-light">Color de la Mascota</th>
                <th class="table-light">Foto de la Mascota</th>
                <th class="table-light">Editar</th>
                <th class="table-light">Eliminar</th>
            </tr>
        </thead>


        <tbody>{% for mascota in mascotas %}
            <tr class="table-light">
                <td class="table-light">{{ mascota.Nombre_M }}</td>
                <td class="table-light">{{ mascota.Raza_M }}</td>
                <td class="table-light">{{ mascota.Color_M }}</td>
                <td class="table-light"><img src="../../../Media/{{ mascota.Foto_M }}" alt="No Encontrada" width="100"
                        height="100"></td>
                <td class="table-light"><a href="/MisMascotas/ActualizarForm/{{ mascota.Id_Mascota }}"
                        class="btn btn-outline-success" role="button">Editar</a>
                    <i class=""></i>
                    </a>
                </td>
                <td class="table-light"><button class="btn btn-outline-danger" type="button"
                        onclick="borrar('{{ mascota.Id_Mascota}}')" class="">Borrar<i class=""></i></button>
                    </a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    {% if mascotas.has_other_pages %}
    <ul class="pagination">
        {% if mascotas.has_previous %}
        <li><a href="?pagina={{ mascotas.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for num_pagina in mascotas.paginator.page_range %}
        {% if num_pagina == mascotas.number %}
        <li class="active"><span>{{ num_pagina }} <span class="sr-only">(página actual)</span></span></li>
        {% elif num_pagina > mascotas.number|add:'-3' and num_pagina < mascotas.number|add:'3' %} <li><a
                href="?pagina={{ num_pagina }}">{{ num_pagina }}</a></li>
            {% endif %}
            {% endfor %}
            {% if mascotas.has_next %}
            <li><a href="?pagina={{ mascotas.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
    </ul>
    {% endif %}

    <ul>
        {% for mascotas in elementos %}
        <li>{{ mascotas.nombre }}</li>
        {% endfor %}
    </ul>

    <footer>
        <div class="container px-5">
            <p class="m-0 text-center text-white small">Copyright &copy; Little Pet World 2023</p>
        </div>
    </footer>

</body>

</html>


{% include "Inc/footer.html" %}